# Saved models
/saved*
*.pth

.vscode/
.idea/
*.pyc
*.log
log_tensorboard
saved/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*

dataset/goodreads
dataset/google_reviews
dataset/yelp
dataset/remappings
dataset/remappings.json
dataset/training_losses
hyper.test
hyper_example*
item_losses*
job.job
predictions*
scores*.json
test.py
thesis_plots*
train_item_counts*
training_losses.csv
uncertainty*
user_losses*